{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if validlink %}
<div class="content">
<h2>Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="button">
	<button type="submit" class="btn btn-outline-secondary btn-lg" >Change my password</button>
	</div>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
</div>
{% endif %}
{% endblock %}